<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
  <div class="logo">
    {{- $cover := false -}}
    {{- if resources.GetMatch "cover.*" -}}
      {{- $cover = (resources.GetMatch "cover.*").RelPermalink -}}
    {{- end -}}
    {{- if $cover -}}
      <img src="{{ $cover }}"
      alt="{{ $.Site.Params.Logo.logoText | plainify | default " " }}"
      title="{{ $.Site.Params.Logo.logoText |plainify|default "Terminal" }}"
      style="height: 6em; margin: 0; padding: 0; border: 0;"/>
    {{- else -}}
      {{- if $.Site.Params.Logo.logoText }}{{ $.Site.Params.Logo.logoText }}{{ else }}Terminal{{ end }}
    {{- end -}}
  </div>
</a>
